extends ../layouts/base.pug

block variables
  - var title = "Base template"

block content
  div.panel
    label Model:
    input.guid-input
    button.apply-guid apply

  .guid
    input(autocomplete="off"
          size="36"
          maxlength="36"
          type="text"
          spellcheck="false"
          autocapitalize="off"
          autocorrect="off")

  .guid-value {}
